.about{
    margin-bottom: 6em;
    background: var(--pale-blue);
    padding: 6em 0;
}

.about__wrapper{
    display: flex;
    flex-direction: column;
    gap: 2em;
    
    
}

.about__first-line{
    display: grid;
    grid-template-columns: 1fr 40%;
    gap: 2em;
    justify-content: center;

}

.about__second-line{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-content: center;
    

}

.about__third-line{
    display: grid;
    grid-template-columns: 33% 1fr;
    gap: 2em;
    justify-content: center;

}

.about__forth-line{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-content: center;
    
    

}

.about__wrapper_mobile{
    display: none;
}

.about__block{
    padding: 0 2em 1em 2em;
    // width: 420px;
    margin: 0;
    border: solid 2px var(--black);
    border-radius: 10px;
    background-color: var(--beige);
    height: fit-content;
}

.about__block_mini_two-col{
    display: flex;
    flex-direction: row;
    gap: 4em;
    // width: fit-content;
    
}
.about__col{
    
}

.about_block_s-pack{
    display: flex;
    flex-direction: column;
    gap: 2em;

}

.about__title{
    color: var(--black);

}

.about__title_h4{
    color: var(--black);
    font-weight: 700;
    margin: 1em 0 0 0;
}

.about__text{
    line-height: 1.5em;
    color: var(--black);
    font-weight: 500;
    font-size: 16px;

}

.about__text_hl{
    color: var(--grey);
}

.about__text_workwith-text{
    color: var(--black);
    font-weight: 500;
}

.about__text_workwith-audience{
    display: block;
    width: -webkit-fill-available;
    margin: 0 auto;
    padding: 1em;
    color: var(--black);
    font-weight: 600;
    font-style: italic;
    text-align: center;
    border: 3px dashed;
    line-height: 1.5em;
    border-radius: 10px;
    background-color: var(--beige)

}

.about__edu-icon{
    width: 0.7em;
}

@media (max-width: 1200px){
    .about__wrapper{
        display: none;
    }

    .about__wrapper_mobile{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2em;
        justify-content: center;
        padding: 0 1em;
    }
    
    
    .about__accordion{
        box-sizing: border-box;
        width: 100%;
        border: solid 2px var(--black);
        border-radius: 10px;
        padding: 1em 2em;
        display: flex;
        margin: 0;
    }
    
    .about__accordion[open]{
        height: fit-content;
        padding: 1em 2em;
        box-sizing: border-box;
        margin: 0;
        transition: 100ms;

    }

    .about__accordion[open] > .about__summary .about__img{
        transform: rotate(180deg);
        transition: 400ms linear;
    }
    
    .about__summary{
        margin: 0;
        line-height: 24px;
        letter-spacing: 0em;
        list-style: none;
        cursor: pointer;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
        &::-webkit-details-marker {
            display: none;
        }
    }
    
    .about__accordion-title{
        margin: 0;
        color: var(--black);
        font-size: 16px;
        font-weight: 500;
    }

    .about__img{
        transition: 200ms linear;
        margin-left: 1em;
        min-width: 18px;
    }
    
    .about__accordion-content{
        color: var(--grey);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        margin: 1em 0;
    }
    
    .about__text_workwith-audience{
        display: block;
        padding: 0.7em;
        color: var(--black);
        font-weight: 600;
        font-style: italic;
        text-align: center;
        border: 3px dashed;
    }

}