.preview{
    margin-bottom: 6em;
}

.preview__pic_main{
    width: 500px;
   
    border-radius: 10px;
}

.preview__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

.prevew__text-box{
    padding: 0 1em 0 5em;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.preview__text{
    margin: 0;
    color: var(--black);
    line-height: 1.5em;
    font-weight: 500;
    text-align: start;
    width: 100%;
    font-size: 24px;
}

.preview__subtext{
    margin: 0;
    color: var(--black);
    line-height: 1.5em;
    font-weight: 500;
    text-align: start;
    width: 100%;
    font-size: 24px;
}

//MOBILE
@media (max-width: 1200px){
    .preview{
        margin-bottom: 3em;
    }
    
    .preview__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
        padding: 0 2em;
    }

    .preview__pic_main{
        max-width: 300px;
        height: 300px;
        border-radius: 10px;
    }

    .prevew__text-box{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }

    
    .preview__text{
        font-size: 20px;
    }

    .preview__subtext{
        margin: 0;
        color: var(--black);
        line-height: 1.5em;
        font-size: 20px;
    }
}
    


